/* Generic Resets
--------------------------------------*/
a {
   text-decoration: none !important;
   color: inherit;
}

/* Bootstrap Additional Styles
--------------------------------------*/
.jumbotron { margin: 0; }
.jumbotron h1 { text-align: center; }

/* Navbar Styles
--------------------------------------*/
.navbar { text-align: center; }
a.navbar-brand { float: none; }

.navbar-header {
   line-height: 30px;
   padding: 10px 0;
}

/* APP STYLES HERE
--------------------------------------*/

.wrapper {
   margin-bottom: 100px;
}

/* GameSetup page
--------------------------------------*/

.centered {
   text-align: center;
}

.btn {
   margin: 10px;
}
btn:focus {outline:0 !important;}

/* Other page
--------------------------------------*/

.avatar-wrapper {
   height: 16em;
   position: relative
}

.avatar {
   border-radius: 100px;
   border: 4px solid rgb(92, 92, 92);
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

/* !! Adjust avatar size !! */
img.avatar {
   width: 100%;
   max-width: 180px;
   padding: 10px;
}
/* !! Adjust avatar size !! */

.avatar-caption {
   padding: 10px 0;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   font-family: 'BenchNine', sans-serif;
   font-size: 1.5em;
   text-shadow: 1px 1px rgb(80, 80, 80);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

/* Card-Detail Styles
--------------------------------------*/
.card-name {
   font-family: 'BenchNine', sans-serif;
   text-transform: uppercase;
   font-size: 2.5em;
   margin-top: 0;
}

.leadercard-name {
   margin-bottom: 15px;
}

.card-stat {
   font-size: 1.2em;
}

/* Footer Styles
--------------------------------------*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  margin-top: 60px;
  background-color: #f5f5f5;
}

.card-count {
   padding: 10px 16px;
   border-radius: 100px;
   border: 4px solid rgb(92, 92, 92);
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 30%)
}

.cc-1 { border: 4px solid rgb(203, 66, 66) }
.cc-2 { border: 4px solid rgb(32, 89, 185) }
.cc-3 { border: 4px solid rgb(61, 136, 51) }
.cc-4 { border: 4px solid rgb(227, 225, 28) }

/* Button Styles
--------------------------------------*/
.btn-block {
   margin: 10px 0 !important;
}
