/* Generic Resets
--------------------------------------*/
a {
   text-decoration: none !important;
   color: inherit;
}

/* Bootstrap Additional Styles
--------------------------------------*/
.jumbotron { margin: 0; }
.jumbotron h1 { text-align: center; }

/* Navbar Styles
--------------------------------------*/

.navigation-bar {
   height: 50px;
   background: rgb(213, 213, 213);
}

.navlist {
   display: block;
   width: 300px;
   margin: 0 auto;
}

.navlist li {
   list-style: none;
   float: left;
}

.navlist li a {
   /*color: #fff;*/
   display: inline-block;
   line-height: 50px;
   /*font-family: 'BenchNine', sans-serif;*/
   /*font-size: 1.2em;*/
   /*text-transform: uppercase;*/
   text-align: center;
   text-decoration: none;
   width: 100px;
}

/*.navlist li:hover {}*/

.navlist li a:hover {
   color: rgb(43, 43, 43);
   background: #fff;
   cursor: pointer;
   cursor: hand;
}

/* CENTRO STYLES HERE
--------------------------------------*/
.centro-container {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    max-height: 500px;
}

.centro-item {
    align-items: stretch;
    width: 300px;
    margin: 5px;
    text-align: center;
}


/* APP STYLES HERE
--------------------------------------*/

.wrapper {
   margin-bottom: 100px;
}

h1, h2, h3, h4 {
   font-family: 'BenchNine', sans-serif;
   text-transform: uppercase;
}

h1 { font-size: 5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2.3rem; }

.pl-1 {color: rgb(203, 66, 66)}
.pl-2 {color: rgb(32, 89, 185)}
.pl-3 {color: rgb(61, 136, 51)}
.pl-4 {color: rgb(241, 175, 5)}

/* GameSetup page
--------------------------------------*/

.centered {
   text-align: center;
}

.btn {
   margin: 10px;
}
btn:focus {outline:0 !important;}

/* Other page
--------------------------------------*/

.avatar-wrapper {
   height: 13.5em;
   position: relative
}

.avatar {
   /*min-height: 180px;
   min-width: 180px;*/
   border-radius: 100px;
   border: 4px solid rgb(92, 92, 92);
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

.avatar-1 { border: 4px solid rgb(203, 66, 66) !important; }
.avatar-2 { border: 4px solid rgb(32, 89, 185) !important; }
.avatar-3 { border: 4px solid rgb(61, 136, 51) !important; }
.avatar-4 { border: 4px solid rgb(241, 175, 5) !important; }

/* !! Adjust avatar size !! */
img.avatar {
   width: 85%;
   max-width: 160px;
   padding: 10px;
}
/* !! Adjust avatar size !! */

.avatar-caption {
   padding: 10px 0;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   font-family: 'BenchNine', sans-serif;
   font-size: 1.5em;
   text-shadow: 1px 1px rgb(80, 80, 80);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

.avatar-stat {
   padding: 10px 0;
   color: #fff;
   text-align: center;
   font-family: 'BenchNine', sans-serif;
   font-size: 3.8em;
   text-shadow: 1px 1px rgb(80, 80, 80);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

/* Card-Detail Styles
--------------------------------------*/
.card-name {
   font-family: 'BenchNine', sans-serif;
   text-transform: uppercase;
   font-size: 2.5em;
   margin-top: 0;
}

.leadercard-name {
   margin-bottom: 15px;
}

.card-stat {
   font-size: 1.2em;
}

/* Footer Styles
--------------------------------------*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  margin-top: 60px;
  background-color: #fff;
  box-shadow: 1px -1px 6px #888888;
}

.footer-masthead {
   padding: 3px;
   text-align: center;
   color: #fff;
   background: rgb(49, 47, 88);
}

.card-count {
   padding: 3px 8px;
   font-family: 'BenchNine', sans-serif;
   font-size: 1.3em;
   border-radius: 100px;
   border: 4px solid rgb(92, 92, 92);
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 30%)
}

.pName {
   text-transform: uppercase;
   font-family: 'BenchNine', sans-serif;
   font-size: 1.4em;
   margin-top: 5px;
}

.cc-1 { border: 4px solid rgb(203, 66, 66) }
.cc-2 { border: 4px solid rgb(32, 89, 185) }
.cc-3 { border: 4px solid rgb(61, 136, 51) }
.cc-4 { border: 4px solid rgb(241, 175, 5) }

/* CardReveal Styles
--------------------------------------*/

.faceoff-name {
   margin-bottom: 0;
}

.underline {
   display: inline-block;
   text-align: center
}

.underline-pl-1 { border-bottom: 4px solid rgb(203, 66, 66) }
.underline-pl-2 { border-bottom: 4px solid rgb(32, 89, 185)  }
.underline-pl-3 { border-bottom: 4px solid rgb(61, 136, 51) }
.underline-pl-4 { border-bottom: 4px solid rgb(241, 175, 5) }

/* Button Styles
--------------------------------------*/
.btn-block {
   max-width: 400px;
   margin: 10px auto !important;
}

.btn-1 {
   background-color: rgb(203, 66, 66);
   color: #fff;
}
.btn-1:hover {
   background-color: rgb(163, 51, 51);
   color: #fff;
}

.btn-2 {
   background-color: rgb(32, 89, 185);
   color: #fff;
}
.btn-2:hover {
   background-color: rgb(27, 76, 161);
   color: #fff;
}

.btn-3 {
   background-color: rgb(61, 136, 51);
   color: #fff;
}
.btn-3:hover {
   background-color: rgb(51, 115, 43);
   color: #fff;
}

.btn-4 {
   background-color: rgb(241, 175, 5);
   color: #252525;
}
.btn-4:hover {
   background-color: rgb(201, 147, 6);
   color: #252525;
}
