/* remove margin after jumbotron, and center header text */
.jumbotron {
   margin: 0;
}
.jumbotron h1 {
   text-align: center;
}

/* NAVBAR CENTRING */
.navbar {
   text-align: center;
}
a.navbar-brand {
   float: none;
}
.navbar-header {
   line-height: 30px;
   padding: 10px 0;
}
